*.o
*.so
*.a
Makefile
*.s
lib
*.pc
core.*
*.bak
crypto/opensslconf.h
crypto/buildinf.h
tools/c_rehash
rehash.time


#find . -executable -type f >> .gitignore
apps/gmssl
test/casttest
test/evp_test
test/enginetest
test/md5test
test/wp_test
test/heartbeat_test
test/v3nametest
test/srptest
test/rc4test
test/bntest
test/md4test
test/dsatest
test/dummytest
test/ideatest
test/rc2test
test/ectest
test/hmactest
test/rmdtest
test/exptest
test/clean_test.com
test/ssltest
test/md2test
test/ecdhtest
test/sha1test
test/bctest
test/shatest
test/rsa_test
test/sm2test
test/verify_extra_test
test/asn1test
test/mdc2test
test/destest
test/igetest
test/jpaketest
test/ecdsatest
test/rc5test
test/bftest
test/constant_time_test
test/sha256t
test/test_padlock
test/sha512t
test/dhtest
test/evp_extra_test
test/randtest
