# conf file for gmssl sdf engine
openssl_conf = openssl_init

[openssl_init]
engines = engine_section

[engine_section]
sdf = sdf_section

[sdf_section]
engine_id = sdf
SO_PATH = ./libswsds.so
VENDOR = sansec
OPEN_DEV =
init = 1

